body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  border: 1px solid black;
  width: 350px;
  margin: 40px;
  padding: 20px;
  background-color: #fcfcfc;
  /* box-shadow: -5px -5px 20px #dfdfdf, 5px 5px 20px #babecc; */
  border-radius: 8px;
  text-align: center;
}

#lists {
  width: 330px;
  /* margin: 0 auto 15px; */
  padding: 0;
  text-align: left;
  list-style: none;
}

#lists li {
  /* border-bottom: 1px solid black; */
  font-size: 20px;
  cursor: pointer;
}

#addBtn {
  margin: 10px;
}

.listBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 20px;
  margin: 30px;
}
.done {
  opacity: 0.5;
  text-decoration: line-through;
}
.removeBtn {
  background-color: red;
  height: 20px;
  margin-right: 20px;
}
